* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
}
body {
	color: black;
	line-height: 1;
	font-family: sans-serif;

	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-size: inherit;
	outline: none;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

body {
	background: linear-gradient(10deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.app {
	// .app__header

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__wrapper {
		background-color: white;
		width: 540px;
		padding: 10px;
		overflow: hidden;
		border-radius: 20px;
		background-color: #00294b;
		color: white;
		margin: 0 auto;
		margin-top: 10px;
		@media (max-width: 960px) {
			width: 100%;
			min-height: 100%;
			border-radius: 0;
			margin-top: 0;
			overflow: auto;
		}
	}
}
.header {
	// .header__avatar

	&__avatar {
		background-color: #005296;
		border-radius: 20px;
	}

	// .header__actions

	&__actions {
	}
}
.actions-btn {
	padding: 5px 15px;
	border-radius: 10px;
	border: 1px solid #008cff;
	transition: all 0.3s ease 0s;
	font-size: 18px;
	&:hover {
		background-color: #008cff;
	}
}
.actions {
	// .actions__avatar

	&__avatar {
		margin-right: 10px;
	}

	// .actions__logout

	&__logout {
	}
}
main {
	margin-top: 30px;
}

.main {
	// .main__title

	&__title {
		font-size: 46px;
		color: #008cff;
		@media (max-width: 767px) {
			font-size: 36px;
		}
	}

	// .main__info

	&__info {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
	}

	// .main__date

	&__date {
		span {
			color: #a1a1a1;
		}
	}

	// .main__quantitydone

	&__quantitydone {
		text-align: right;
		span {
			&:last-child {
				color: #a1a1a1;
			}
		}
	}

	// .main__todo

	&__todo {
		margin-top: 50px;
	}
}
.form-input {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.new__item {
	background: none;
	border-bottom: 1px solid #008cff;
	width: 80%;
	color: white;
	font-size: 18px;
	&::placeholder {
		color: rgb(119, 119, 119, 0.7);
		transition: all 0.3s ease 0s;
	}
	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}
.submit__btn {
	color: black;
	background: yellow;
	padding: 10px 20px;
	border-radius: 20px;
}
.input__chec {
	opacity: 0;
}
.input__chec:checked + label::before {
	background: url("../img/checkmark_icon-icons.com_50429.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.form {
	display: flex;
	align-items: center;
}
.checkbox__label {
	position: relative;
	width: 20px;
	height: 20px;
	&::before {
		position: absolute;
		top: 0;
		left: -10px;
		content: "";
		width: 20px;
		height: 20px;
		border: 1px solid #000;
		border-radius: 5px;
	}
}

.todo {
	// .todo__header

	&__header {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

	// .todo__title

	&__title {
		font-size: 30px;
		display: flex;
		align-items: center;
		font-weight: 200;
		span {
			font-size: 14px;
			margin-right: 5px;
			background-color: white;
			color: black;
			padding: 3px 7px;
			border-radius: 15px;
		}
	}

	// .todo__filter

	&__filter {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	// .todo__list

	&__list {
		margin-top: 20px;
	}

	// .todo__item

	&__item {
		border-radius: 20px;
		padding: 25px;
		background-color: yellow;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: black;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&.done {
			.todo__text {
				text-decoration: line-through;
			}
		}
		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	// .todo__text

	&__text {
		background: none;
		font-size: 18px;
		&:focus {
			border-bottom: 1px solid black;
		}
	}

	// .todo__actions

	&__actions {
		display: flex;
		gap: 10px;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .todo__edit

	&__edit {
		font-weight: 600;
		margin-right: 10px;
		border: 1px solid black;
	}

	// .todo__del

	&__del {
		font-weight: 600;

		border: 1px solid black;
	}
}
.todo-btn {
	border-radius: 10px;
	padding: 5px 10px;
	transition: all 0.3s ease 0s;
	&:hover {
		color: white;
		background: #000;
	}
}

.filter-btn {
	font-weight: lighter;
	font-size: 18px;
	color: white;
	padding: 10px 15px;
	border: 1px solid #008cff;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #008cff;
		color: black;
	}
	&.active {
		background-color: #008cff;
		color: black;
	}
}
.quantitydone {
	color: white;
}
